.friendsTitle {
	background-color: #ffffff;
	padding: 25px 15px 10px;
}
.friendsTitle .friendsTitleImg {
	width: 25px;
	width: auto;
}

.friendsButtonLine {
	display: flex;
	display: -webkit-flex;
	padding: 10px 25px;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	color: #a4a4a4;
	background-color: #ffffff;
}
.friendsButtonLine .choose {
	color: #000000;
}
.friendsButtonLine .reqButton {
	margin-left: 30px;
}

.friendsList {
	background-color: #ffffff;
	min-height: 65%;
}
.friendsList .friendItem {
	display: flex;
	display: -webkit-flex;
	padding: 10px 15px;
	height: 50px;
}
.friendsList .friendItem .friendLogo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.friendsList .friendItem .friendName {
	margin-left: 15px;
	font-size: 18px;
	line-height: 30px;
	width: calc(100% - 95px);
}
.friendsList .friendItem .talkImg {
	margin: 15px 10px;
	height: 20px;
	width: 20px;
}
.friendsList .friendItem .talkPart {
	margin-left: 15px;
	width: calc(100% - 65px);
}

.friendsList .friendItem .talkPart .talkFriendLine {
	display: flex;
	display: -webkit-flex;
	height: 30px;
	line-height: 30px;
}
.friendsList .friendItem .talkPart .talkFriendLine .talkFriendName {
	font-size: 18px;
	color: #000000;
	width: calc(100% - 45px);
}
.friendsList .friendItem .talkPart .talkFriendLine .isNew {
	width: 45px;
	display: flex;
	display: -webkit-flex;
	font-size: 14px;
	color: #a4a4a4;
}
.friendsList .friendItem .talkPart .talkFriendLine .isNew .dot {
	background-color: #c80001;
	width: 6px;
	height: 6px;
	margin: 12px 5px;
	border-radius: 50%;
}
.friendsList .friendItem .talkPart .reqFriendLine {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	height: 30px;
	line-height: 30px;
}
.friendsList .friendItem .talkPart .reqFriendLine .reqFriendName {
	width: calc(100% - 150px);
	font-size: 18px;
	color: #000000;
}
.friendsList .friendItem .talkPart .reqFriendLine .reqButtonLine {
	display: flex;
	display: -webkit-flex;
	height: 30px;
	line-height: 24px;
}
.friendsList .friendItem .talkPart .reqFriendLine .reqButtonLine .acButton {
	margin: 3px 0px 3px 15px;
	color: #ffffff;
	background-color: #465d4c;
	width: 60px;
	height: 24px;
	text-align: center;
	font-size: 14px;
	border-radius: 3px;
	border: 0px;
	outline: none;
}
.friendsList .friendItem .talkPart .reqFriendLine .reqButtonLine .ignore {
	background-color: #e5e5e5;
	color: #717171;
}
.friendsList .friendItem .talkPart .talkDetail {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	color: #a4a4a4;
	font-size: 14px;
}
.friendsList .friendItem .talkPart .talkDetail .talkDate {
	white-space: nowrap;
}
.friendsList .friendItem .talkPart .talkDetail .lastMes {
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.friendsList .nothing {
	text-align: center;
	font-size: 20px;
	color: #a4a4a4;
	padding: 100px 0px;
}
