.searchFriendLine {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 100%;
	margin-top: 50px;
}
.searchFriendLine .buttonLine {
	display: flex;
	display: -webkit-flex;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin-top: 4px;
}
.searchFriendLine .buttonLine .button {
	width: 75px;
	border-radius: 3px;
	height: 30px;
	color: #000000;
	background-color: unset;
	cursor: pointer;
	text-align: center;
	cursor: pointer;
}
.searchFriendLine .buttonLine .choose {
	background-color: #555555;
	color: #ffffff;
}
.searchFriendLine .inlineSearch {
	height: 34px;
	border-radius: 17px;
	display: flex;
	display: -webkit-flex;
	width: 300px;
	background-color: #ffffff;
}
.searchFriendLine .inlineSearch .logo {
	margin: 6px 15px;
	width: 22px;
	background-color: #ffffff;	
}
.searchFriendLine .inlineSearch input {
	font-size: 20px;
	line-height: 34px;	
	border: 0;
	width: 230px;
	outline: none;
}

.friendsLine {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 100%;
	margin-top: 20px;
}
.friendsLine .friend {
	width: 30%;
	background-color: #ffffff;
	min-height: 130px;
	display: flex;
	display: -webkit-flex;
}
.friendsLine .blankfriend {
	visibility: hidden;
}
.friendsLine .friend .logo {
	margin: 15px;
	width: 100px;
	height: 100px;
	cursor: pointer;
	background-color: unset;
}
.friendsLine .friend .logo img {
	width: 100%;
	border-radius: 50%;
}
.friendsLine .friend .info {
	width: calc(100% - 160px);
}
.friendsLine .friend .info .name {
	margin: 30px 0px 10px;
	font-size: 20px;
	color: #000000;
}
.friendsLine .friend .info .other {
	font-size: 16px;
	color: #717171;
}
.friendsLine .friend .requestInfo {
	width: calc(100% - 145px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.friendsLine .friend .requestInfo .name {
	margin: 15px 0px 5px;
	font-size: 18px;
	color: #000000;
}
.friendsLine .friend .requestInfo .other {
	font-size: 12px;
	color: #717171;
}
.friendsLine .friend .requestInfo .buttonLine {
	width: 100%;
	margin-top: 10px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
}
.friendsLine .friend .requestInfo .buttonLine .postButton {
	margin-left: 15px; 
	font-size: 14px;
	color: #ffffff;
	line-height: 25px;
	height: 25px;
	width: 60px;
	text-align: center;
	background-color: #465d4c;
	cursor: pointer;
	border-radius: 3px;
	border: 0px;
}
.friendsLine .friend .requestInfo .buttonLine .grey {
	background-color: #e5e5e5;
	color: #717171
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
	from {
		top: 20px;
	}
	to {
		top: 5px;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
	from {
		top: 20px;
	}
	to {
		top: 5px;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
	from {
		top: 20px;
	}
	to {
		top: 5px;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
	from {
		top: 20px;
	}
	to {
		top: 5px;
	}
}
.friendsLine .friend .option {
	margin: 10px 10px 0px 0px;
	width: 20px;
	height: 20px;
}
.friendsLine .friend .option .optionImg {
	cursor: pointer;
	width: 20px;
	height: 20px;
}
.friendsLine .friend .option .optionList {
	display: none;
	position: relative;
	left: -75px;
	top: 5px;
	width: 95px;
}
.friendsLine .friend .option .optionList .item {
	display: flex;
	display: -webkit-flex;
	background-color: rgba(245, 245, 245, 0.92);
	height: 25px;
	line-height: 25px;
	color: #000000;
	font-size: 14px;
}
.friendsLine .friend .option .optionList .item img {
	margin: 5px;
	width: 15px;
	height: 15px;
}
.friendsLine .friend .option .optionList .grey {
	background-color: rgba(233, 233, 233, 0.92);
}
.friendsLine .friend .option .optionList .item:hover {
	background-color: rgba(201, 201, 201, 0.92);
	cursor: pointer;
}
.friendsLine .friend .option:focus {
	border: 0;
	outline: none;
}
.friendsLine .friend .option:focus .optionList {
	display: block;
	-webkit-animation: fadeIn 0.3s ease;
	-moz-animation: fadeIn 0.3s ease;
	-o-animation: fadeIn 0.3s ease;
	animation: fadeIn 0.3s ease;
}


.showWindowModule {
	background-color: rgba(245, 245, 245, 0.8);
	width: 470px;
}
.showWindowModuleShort {
	width: 275px;
}
.showWindowModule .showWindowTitleLine {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding: 15px;
	font-size: 1em;
}
.showWindowModule .showWindowTitleLine .showWindowTitle {

}
.showWindowModule .showWindowTitleLine .close {
	width: 15px;
	height: 15px;
	cursor: pointer;
	background: url("../img/false.png");
	background-size: 100% 100%;
}
.showWindowModule .showWindowContentLine {
	display: flex;
	display: -webkit-flex;
	padding: 0px 15px 0px 25px;
}
.showWindowModule .showWindowContentLine .logo {
	height: 50px;
	width: 50px;
}
.showWindowModule .showWindowContentLine .logo img {
	width: 100%;
	border-radius: 50%;
}
.showWindowModule .showWindowContentLine .otherContent {
	margin-left: 15px;
	width: 365px;
	font-size: 14px;
	color: #000000;
}
.showWindowModule .showWindowContentLine .otherContent .grey {
	color: #717171;
}
.showWindowModule .showWindowContentLine .otherContent input {
	margin: 10px 0px;
	height: 25px;
	font-size: 14px;
	background-color: #ffffff;
	width: 240px;
	box-shadow: 0px 1px 1px #c1c1c1 inset;
	outline: none;
	border: 0;
	padding: 0px 10px;
	border-radius: 3px;
}
.showWindowModule .postButton{
	margin: 15px 15px 15px calc(100% - 90px);
	font-size: 16px;
	color: #ffffff;
	line-height: 30px;
	background-color: #465d4c;
	height: 30px;
	width: 75px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	border: 0px;
}
.showWindowModule .showWindowContent {
	padding: 0px 15px;
	font-size: 14px;
	color: #000000;
}


@media (max-width: 1279px) {

.friendsLine .friend {
	width: 30%;
	background-color: #ffffff;
	min-height: 110px;
	display: flex;
	display: -webkit-flex;
}
.friendsLine .friend .logo {
	margin: 13px;
	width: 84px;
	height: 84px;
	cursor: pointer;
	background-color: unset;
}
.friendsLine .friend .logo img {
	width: 100%;
	border-radius: 50%;
}
.friendsLine .friend .info {
	width: calc(100% - 134px);
}
.friendsLine .friend .info .name {
	margin: 24px 0px 8px;
	font-size: 18px;
	color: #000000;
}
.friendsLine .friend .info .other {
	font-size: 14px;
	color: #717171;
}
.friendsLine .friend .requestInfo {
	width: calc(100% - 123px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.friendsLine .friend .requestInfo .name {
	margin: 13px 0px 4px;
	font-size: 16px;
	color: #000000;
}
.friendsLine .friend .requestInfo .other {
	font-size: 12px;
	line-height: 120%;
	color: #717171;
}
.friendsLine .friend .requestInfo .buttonLine {
	width: 100%;
	margin-top: 9px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
}
.friendsLine .friend .requestInfo .buttonLine .postButton {
	font-size: 12px;
	color: #ffffff;
	line-height: 22px;
	height: 22px;
	width: 52px;
	text-align: center;
	background-color: #465d4c;
	cursor: pointer;
	border-radius: 3px;
	border: 0px;
}
.friendsLine .friend .requestInfo .buttonLine .grey {
	margin-left: 11px; 
	background-color: #e5e5e5;
	color: #717171
}
.friendsLine .friend .option {
	margin: 8px 8px 0px 0px;
	width: 16px;
	height: 16px;
}
.friendsLine .friend .option .optionImg {
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.friendsLine .friend .option .optionList {
	display: none;
	position: relative;
	left: -75px;
	top: 5px;
	width: 91px;
}

}

