*{ padding:0; margin:0;}

html {
	height: 100%;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	display: -webkit-flex;
	height: 100%
}

.sideBar {
	width: 200px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #555555;
}

.forumLogo {
	width: 100%;
	background-color: #e9e9e9;
	height: 50px;
}
.forumLogo img {
	height: 44px;
	margin: 3px calc(50% - 70px);
}

.personalInfo {
	width: 100%;
	text-align: center;	
}
.personalInfo .pPhoto {
	margin: 30px 18% 20px;
}
.personalInfo .pPhoto img {
	width: 100%;
	border-radius: 50%;
}
.personalInfo .name {
	font-size: 24px;
	margin: 0px auto 7px;
	color: #ffffff;
}
.personalInfo .pInfo {
	font-size: 16px;
	color: #c1c1c1;
	margin-bottom: 3px;
}

.isLogin {
	display: none;
}
.notLogin {
	display: none;
}
.personalInfo .loginInput {
	width: 76%;
	margin: 0px 12% 15px;
	height: 30px;
	outline: none;
	border: 0;
	padding: 0px 15px;
	font-size: 16px;
	border-radius: 15px;
}
.personalInfo .forgetPwd {
	width: 76%;
	margin: 0px 12% 15px;
	text-align: right;
	font-size: 12px;
	color: #ffffff;
	cursor: pointer;
}
.personalInfo .buttonLine {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin: 0px 12% 20px;
}
.personalInfo .buttonLine .loginButton {
	color: #ffffff;
	font-size: 14px;
	line-height: 25px;
	background-color: #62592d;
	height: 25px;
	width: 70px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	border: 0px;
}
.personalInfo .buttonLine .registerButton {
	background-color: #465d4c;
}
.personalInfo .buttonLine .thirdPlatformButton {
	width: 35px;
	height: 35px;
}

.personalModuleList {
	margin-top: 15px;
}

.personalModule {
	width: 100%;
	text-align: center;
	cursor: pointer;
	display: flex;
	display: -webkit-flex;
}
.personalModule .personalModuleTitle {
	height: 20px;
	margin: 15px calc(50% - 50px) 15px calc(50% - 100px);
}
.personalModule .arrow {
	visibility: hidden;
	height: 50px;
}
.personalModule:hover .arrow {
	visibility: visible;
}
.personalModule .arrowChoose {
	visibility: visible;
}
.personalModuleList .choose {
	background-color: #434343;
}

.chatModule {
	position: fixed;
	z-index: 5;
	right: 5px;
	bottom: 5px;
	color: #000000;
	font-size: 18px;
}
.chatModule .chatEntry{
	color: #000000;
	background-color: #ffffff;
	font-size: 18px;
	text-align: center;
	width: 200px;
	height: 50px;
	line-height: 50px;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #dcdcdc;
	box-shadow: 0px 0px 2px 3px rgba(13,5,9,.03);
}
.chatModule .red {
	color: #c80001;
}
.chatModule .chatB {
	display: none;
}
.chatModule .chatBox {
	display: flex;
	display: -webkit-flex;
	width: 500px;
	height: 350px;
	min-height: 350px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	box-shadow: 0px 0px 2px 3px rgba(13,5,9,.03);
	overflow-x: hidden;
	overflow-y: hidden;
}
.chatModule .chatBox .friend {
	width: 150px;
	background-color: #f5f5f5;
	font-size: 12px;
}
.chatModule .chatBox .friend .findFriend {
	height: 40px;
	min-height: 40px;
	padding: 0px 15px;
	border: 0;
	outline: none;
	font-size: 14px;
}
.chatModule .chatBox .friend .findFriend:focus {
	background-color: #ffffff;
}
.chatModule .chatBox .friend .friendList {
	height: 309px;
	min-height: 309px;
	overflow-x: hidden;
	overflow-y: auto;
}
.chatModule .chatBox .friend .friendList .item {
	display: flex;
	display: -webkit-flex;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
.chatModule .chatBox .friend .friendList .choose {
	background-color: #e5e5e5;
}
.chatModule .chatBox .friend .friendList .item:hover {
	background-color: #e5e5e5;
}
.chatModule .chatBox .friend .friendList .item .friendPic {
	height: 22px;
	width: 22px;
	margin: 9px 7px 9px 9px;
}
.chatModule .chatBox .friend .friendList .item .friendPic img {
	width: 100%;
	border-radius: 50%;
}
.chatModule .chatBox .friend .friendList .item .friendName {
	width: calc(100% - 80px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.chatModule .chatBox .friend .friendList .item .isNew {
	width: 42px;
	display: flex;
	display: -webkit-flex;
}
.chatModule .chatBox .friend .friendList .item .isNew .text {
	width: 26px;
	color: #c9c9c9;
}
.chatModule .chatBox .friend .friendList .item .isNew .dot {
	margin: 17px 6px 17px 4px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #c80001;
}
.chatModule .chatBox .chatList {
	width: 349px;
	background-color: #ffffff;
}
.chatModule .chatBox .chatList .chatTop {
	height: 40px;
	min-height: 40px;
	line-height: 40px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding-left: 15px;
}
.chatModule .chatBox .chatList .chatTop .close {
	margin: 12px;
	height: 16px;
	width: 16px;
	cursor: pointer;
}
.chatModule .chatBox .chatList .chatContent {
	height: 278px;
	min-height: 278px;
	overflow-x: hidden;
	overflow-y: auto;
}
.chatModule .chatBox .chatList .chatContent .chatMessage {
	display: flex;
	display: -webkit-flex;
	margin-top: 10px;
	font-size: 12px;
}
.chatModule .chatBox .chatList .chatContent .myMes {
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
}
.chatModule .chatBox .chatList .chatContent .chatMessage .friendPic {
	height: 22px;
	width: 22px;
	margin: 0px 9px;
}
.chatModule .chatBox .chatList .chatContent .chatMessage .friendPic img {
	width: 100%;
	border-radius: 50%;
}
.chatModule .chatBox .chatList .chatContent .chatMessage .leftTri {
	border-top: 8px solid #D3EDF5;
    border-left: 8px solid #ffffff;
    margin: 8px 0px 0px -2px;
}
.chatModule .chatBox .chatList .chatContent .chatMessage .rightTri {
	border-top: 8px solid #e5e5e5;
    border-right: 8px solid #ffffff;
    margin: 8px -2px 0px 0px;
}
.chatModule .chatBox .chatList .chatContent .chatMessage .mesContent {
	max-width: 240px;
	padding: 6px 10px;
	background-color: #D3EDF5;
	border-radius: 5px;
}
.chatModule .chatBox .chatList .chatContent .chatMessage .grey {
	background-color: #e5e5e5;
}
.chatModule .chatBox .chatList .chatInputLine {
	display: flex;
	display: -webkit-flex;
	height: 30px;
}
.chatModule .chatBox .chatList .chatInputLine .chatInput {
	height: 30px;
	width: 318px;
	min-height: 30px;
	padding: 0px 10px;
	border: 0;
	outline: none;
	font-size: 14px;
}
.chatModule .chatBox .chatList .chatInputLine .emoji {
	height: 30px;
	width: 30px;
}
.chatModule .chatBox .verticleHr {
	width: 1px;
	background-color: #e9e9e9;
}
.chatModule .chatBox .horizenHr {
	min-height: 1px;
	width: 100%;
	background-color: #e9e9e9;
}

.mainPage {
	width: calc(100% - 200px);
	overflow-x: hidden;
	overflow-y: auto;
}

.searchBar {
	position: fixed;
	left: 200px;
	top: 0;
	height: 50px;
	min-height: 50px;
	width: 100%;
	background-color: #dbdbdb;
	z-index: 5;
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
}
.searchBar .blank {
	width: calc(50% - 580px);
	min-width: 60px;
}
.searchBar .context {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 960px;
}
.searchBar .context .search {
	margin: 8px 0;
	border-radius: 17px;
	display: flex;
	display: -webkit-flex;
	width: 450px;
	background-color: #ffffff;
}
.searchBar .context .search .logo {
	margin: 6px 15px;
	width: 22px;
	background-color: #ffffff;	
}
.searchBar .context .search input {
	font-size: 20px;
	line-height: 34px;	
	border: 0;
	width: 330px;
	outline: none;
}

.main {
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	min-width: 1080px;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	padding: 50px 0 0;
	min-height: 100%;
}

.main .blank {
	width: calc(50% - 480px);
	min-width: 60px;
}

.main .mainContent {
	width: 960px;
}

.main .mainContent .path {
	margin: 30px 0 12px;
	line-height: 18px;
	font-size: 18px;
	color: #717171;
}

.main .mainContent .path a {
	text-decoration: none;
	color: #717171;
}
.main .mainContent .path a:hover { 
	text-decoration: underline;
}

.pageModule {
	margin: 25px 0px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	text-align: center;
	color: #000000;
	font-size: 13px;
	line-height: 25px;
	height: 25px;
}
.pageModule .jumpButton {
	color: #ffffff;
	background-color: #465d4c;
	font-size: 14px;
	width: 50px;
	border-radius: 3px;
	cursor: pointer;
}
.pageModule .totalPage {
	margin: 0px 7px;
}
.pageModule .searchPage {
	width: 50px;
	border: 0;
	outline: none;
	padding: 0px 7px;
	border-radius: 3px;
}
.pageModule .pageLine {
	display: flex;
	display: -webkit-flex;
	margin-right: 25px;
}
.pageModule .pageLine .page {
	min-width: 11px;
	padding: 0px 7px;
	border-radius: 3px;
	margin-left: 3px;
	background-color: #ffffff;
}
.pageModule .pageLine .page:hover {
	background-color: rgba(201, 201, 201, 1.0);
	cursor: pointer;
}
.pageModule .pageLine .choose {
	background-color: #555555 !important;
	color: #ffffff;
}

.postModule {
	background-color: rgba(245, 245, 245, 0.8);
	width: calc(100% - 70px);
	padding: 15px 35px;
	min-height: 280px;
}
.postModule .titleLine{
	display: flex;
	display: -webkit-flex;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	width: 100%;
	margin-bottom: 15px;
}
.postModule .titleLine .titleText{
	margin-right: 10px;
}
.postModule .titleLine .titleInput{
	outline: none;
	border: 0;
	padding: 0px 10px;
	border-radius: 3px;
	background-color: #ffffff;
	height: 30px;
	width: 35%;
	font-size: 14px;
	box-shadow: 0px 1px 1px #c1c1c1 inset;
}
.postModule .titleLine .attachmentText {
	margin-left: 20px;
}
.postModule .titleLine .attachment{
	width: 24px;
	height: 24px;
	margin: 4px 0px 2px 10px;
	cursor: pointer;
}
.postModule textarea {
	height: 250px;
	font-size: 14px;
	background-color: #ffffff;
	width: 100%;
	box-shadow: 0px 1px 1px #c1c1c1 inset;
	outline: none;
	border: 0;
	padding: 10px;
	border-radius: 3px;	
}
.postModule .postButton{
	margin-left: calc(100% - 75px);
	margin-top: 15px;
	font-size: 16px;
	color: #ffffff;
	line-height: 30px;
	background-color: #465d4c;
	height: 30px;
	width: 75px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.blankLine {
	min-height: 30px;
	width: 100%;
}

.bottomInfo {
	text-align: center;
	font-size: 14px;
	line-height: 180%;
	margin: 60px 0px;
	color: #535353;
}

.mask {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	display: none;
	left: 0px;
	top: 0px;
	z-index: 10;
}

@media (max-width: 1279px) {

.sideBar {
	width: 160px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #555555;
}

.logo img {
	width: 90%;
	margin: 3px 5%;
}

.personalInfo .loginInput {
	width: 84%;
	margin: 0px 8% 15px;
	height: 30px;
	outline: none;
	border: 0;
	padding: 0px 15px;
	font-size: 16px;
	border-radius: 15px;
}
.personalInfo .forgetPwd {
	width: 84%;
	margin: 0px 8% 15px;
	text-align: right;
	font-size: 12px;
	color: #ffffff;
	cursor: pointer;
}
.personalInfo .buttonLine {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin: 0px 8% 20px;
}
.personalInfo .buttonLine .loginButton {
	color: #ffffff;
	font-size: 14px;
	line-height: 25px;
	background-color: #62592d;
	height: 25px;
	width: 50px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}
.personalInfo .buttonLine .registerButton {
	width: 70px;
	background-color: #465d4c;
}

.mainPage {
	width: calc(100% - 160px);
	overflow-x: hidden;
	overflow-y: auto;
}

.searchBar {
	position: fixed;
	left: 160px;
	top: 0;
	height: 50px;
	min-height: 50px;
	width: 100%;
	background-color: #dbdbdb;
	z-index: 5;
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
}
.searchBar .blank {
	width: calc(50% - 464px);
	min-width: 48px;
}
.searchBar .context {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 768px;
}
.searchBar .context .search {
	margin: 8px 0;
	border-radius: 17px;
	display: flex;
	display: -webkit-flex;
	width: 330px;
	background-color: #ffffff;
}
.searchBar .context .search .logo {
	margin: 6px 15px;
	width: 22px;
	background-color: #ffffff;	
}
.searchBar .context .search input {
	font-size: 20px;
	line-height: 34px;	
	border: 0;
	width: 260px;
	outline: none;
}

.main {
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	min-width: 864px;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	padding: 50px 0 0;
}

.main .blank {
	width: calc(50% - 384px);
	min-width: 48px;
}

.main .mainContent {
	width: 768px;
}

.postModule {
	background-color: rgba(245, 245, 245, 0.8);
	width: calc(100% - 50px);
	padding: 10px 25px;
	min-height: 280px;
}

}





