

.postItem {
	width: 100%;
}
.postItem .postItemTop {
	width: 100%;
	height: 6px;
	min-height: 6px;
	background-color: #555555
}
.postItem .titleLine {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding: 0px 20px;
	min-height: 80px;
	background-color: rgba(245, 245, 245, 0.8);
}
.postItem .titleLine .title {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	font-size: 24px;
	line-height: 120%;
	color: #000000;
	max-width: calc(100% - 200px);
}
.postItem .titleLine .share {
	width: 190px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.postItem .titleLine .share img {
	height: 34px;
	width: 34px;
	margin-top: 23px;
	cursor: pointer;
}

.postItem .floor {
	min-height: 300px;
	margin-top: 1px;
	display: flex;
	display: -webkit-flex;
	background-color: rgba(245, 245, 245, 0.8);
}
.postItem .floor .personalBar {
	width: 200px;
	font-size: 18px;
	color: #000000;
	text-align: center;
}
.personalBar .pPhoto {
	margin: 20px 18% 10px;
	cursor: pointer;
}
.personalBar .pPhoto img {
	width: 100%;
	border-radius: 50%;
}
.personalBar .pName {
	margin-bottom: 5px;
}
.personalBar .pInfo {
	font-size: 14px;
	color: #555555;
}
.personalBar .pButtonBar {
	height: 25px;
	width: 116px;
	margin: 10px auto;
	display: flex;
	display: -webkit-flex;
}
.personalBar .pButton {
	width: 75px;
	height: 25px;
	background-color: #c80001;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
	border-radius: 3px;
}
.personalBar .pMail {
	width: 21px;
	height: 21px;
	margin: 2px 0px 2px 20px;
}
.postItem .floor .verticleHr {
	width: 1px;
	background-color: rgba(233, 233, 233, 1);
}
.postItem .floor .postInfo {
	width: calc(100% - 201px);
	font-size: 14px;
}
.postItem .floor .postInfo .time {
	padding: 0px 30px 0px 20px;
	height: 40px;
	line-height: 40px;
	color: #bbbbbb;
}
.postItem .floor .postInfo .horizenHr {
	width: 100%;
	height: 1px;
	background-color: rgba(233, 233, 233, 1);
}
.postItem .floor .postInfo .content {
	padding: 0px 30px 0px 20px;
	color: #000000;
	font-size: 14px;
}
.postItem .floor .postInfo .content .context {
	margin-top: 10px;
	min-height: 199px;
	line-height: 120%;
}
.postItem .floor .postInfo .content .bottomLine {
	display: flex;
	display: -webkit-flex;
	flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	padding: 10px 0px;
	height: 30px;
	line-height: 30px;
}
.postItem .floor .postInfo .content .bottomLine .agree {
	margin: 0px 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.postItem .floor .postInfo .content .bottomLine .disagreeNum {
	color: #555555;
}
.postItem .floor .postInfo .content .bottomLine .agreeNum {
	color: #c73926;
}
.postItem .floor .postInfo .content .bottomLine .reply {
	margin: 4px 25px 4px 15px;
	height: 22px;
	width: 22px;
	cursor: pointer;
}

.replyOther {
	width: 768px;
	display: none;
	position: fixed;
	z-index: 20;
}

@media (max-width: 1279px) {

.postItem .floor .personalBar {
	width: 160px;
	font-size: 18px;
	color: #000000;
	text-align: center;
}

.postItem .floor .postInfo {
	width: calc(100% - 161px);
	font-size: 14px;
}

.postItem .titleLine .title {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	font-size: 24px;
	line-height: 120%;
	color: #000000;
	max-width: calc(100% - 175px);
}
.postItem .titleLine .share {
	width: 165px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.postItem .titleLine .share img {
	height: 30px;
	width: 30px;
	margin-top: 25px;
	cursor: pointer;
}



